@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  display: none;
}

.stat_card{
  box-shadow: -6px 10px 35px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -6px 10px 35px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -6px 10px 35px 0px rgba(0,0,0,0.75);

}

.app{
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.aside{
  min-width: 300px
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu_items{}

@media screen and (min-width:200px) and (max-width:900px) {
  .aside{
    min-width: 300px;
  }

  .app{
    overflow-x: visible;
  }
}