@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  display: none;
}

.stat_card{
  box-shadow: -6px 10px 35px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -6px 10px 35px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -6px 10px 35px 0px rgba(0,0,0,0.75);

}

.app{
  height: 100vh;
  overflow-y: hidden;
}

.aside{

}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu_items{}

@media screen and (max-width:400) {
  .menu_items{
    display: none;
  };

  .aside{
    display: none;
  }

  .barchart{
    width: 500px;
  }
}